{
  "server": {
    "port": ""
  },
  "widgets": {
    "sonar": {
      "token": ""
    },
    "slack": {
      "token": ""
    },
    "pukka": {
      "email": "",
      "password": "",
      "exclude": []
    }
  }
}
